<h1>{{ court.name }}</h1>
<p>This court is hosted by: <b> {{ court.owner.fullName }} </b></p>
<hr>
<p>Date: {{ court.date }}</p>
<p>Time: {{ court.time }}</p>
<p>Description: {{ court.description }}</p>
<hr>

{{#if court.isOwner}}
  <button id="toggle-button">Update court details</button>

  <form action="/courts/{{court._id}}/update" method="post" id="edit-form" hidden="true">
    <label for="">Name</label>
    <input type="text" name="name" id="" value="{{court.name}}">

    <label for="">Date</label>
    <input type="date" name="date" id="" value="{{court.date}}">

    <label for="">Time</label>
    <input type="number" name="time" id="" value="{{court.time}}">

    <label for="">Description</label>
    <textarea name="description" id="" cols="30" rows="10"> {{court.description}} </textarea>

    <button type="submit">Save changes</button>
  </form>
{{/if}}

<hr>

{{#unless court.isOwner}}
  <h2>Add a comment:</h2>
  <form action="/courts/{{court._id}}/add-comment" method="POST">
    <textarea name="comment" id="" cols="10" rows="5"></textarea>
    <button type="submit">Add</button>
  </form>
{{/unless}}


{{#if court.comments}}
  <h3>comments:</h3>
  {{#each court.comments}}
    <p> <b>{{ this.user.fullName }} said: </b> {{ this.comment }}  </p>
    {{#if this.canBeChanged}}
      <form action="/comments/{{this._id}}" method="POST">
        <button type="submit"> Delete </button>
      </form>
    {{/if}}
  {{/each}}
{{/if}}
