<script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjHDeZyrvWf87TrgJDJgucL5PELkG9L3g&callback=initMap"></script>
<script src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js'></script>


<script>
  let courts = [];
</script>

{{#each courtsFromDB}}
<script>
courts.push (["{{this.name}},", {{ this.location.coordinates.[0]}}, {{ this.location.coordinates.[1]}}, 4])
</script>
{{/each}}



<script>
console.log (courts)


function initMap() {
  const map = new google.maps.Map(document.getElementById("map"), {
    zoom: 8,
    center: { lat: 51.571726861378636, lng: 6.671027519332629},
  });
  setMarkers(map);
}
// Data for the markers consisting of a name, a LatLng and a zIndex for the
// order in which these markers should display on top of each other.


function setMarkers(map) {
  // Adds markers to the map.
  // Marker sizes are expressed as a Size of X,Y where the origin of the image
  // (0,0) is located in the top left of the image.
  // Origins, anchor positions and coordinates of the marker increase in the X
  // direction to the right and in the Y direction down.
  const image = {
    url:
      "https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png",
    // This marker is 20 pixels wide by 32 pixels high.
    size: new google.maps.Size(20, 32),
    // The origin for this image is (0, 0).
    origin: new google.maps.Point(0, 0),
    // The anchor for this image is the base of the flagpole at (0, 32).
    anchor: new google.maps.Point(0, 32),
  };
  // Shapes define the clickable region of the icon. The type defines an HTML
  // <area> element 'poly' which traces out a polygon as a series of X,Y points.
  // The final coordinate closes the poly by connecting to the first coordinate.
  const shape = {
    coords: [1, 1, 1, 20, 18, 20, 18, 1],
    type: "poly",
  };

  for (let i = 0; i < courts.length; i++) {
    const court = courts[i];
    new google.maps.Marker({
      position: { lat: court[1], lng: court[2] },
      map,
      icon: image,
      shape: shape,
      title: court[0],
      zIndex: court[3],
    });
  }
}

</script>



<div id="map"></div>


<ul>
  {{#each courtsFromDB}}
  <li> 
    <h3> <a href="/courts/{{this._id}}"> {{ this.name }} </a></h3> 
    <p>Game created by {{ this.owner.fullName }}</p>
    <p>location {{ this.location.coordinates.[1]}}</p>
    {{#if this.isOwner}}
      <form action="/courts/{{this._id}}/delete" method="POST">
        <button type="submit">Delete</button>
      </form>
    {{/if}}
  </li>
  {{/each}}
</ul>

