




{{#if court.isOwner}}
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#yourgame">Your Game</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#edit">Edit Game</a>
  </li>
  <li class="nav-item">
    <form action="/courts/{{court._id}}/delete" method="POST">
      <button type="submit">Delete</button>
    </form>
  </li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active show" id="yourgame">
    <h2>It´s your game, {{court.owner.fullName}}!</h2>
  </div>
  <div class="tab-pane fade" id="edit">
    <form action="/courts/{{court._id}}/update" method="post" id="edit-form">
    <label for="">Name</label>
    <input type="text" name="name" id="" value="{{court.name}}">

    <label for="">Date</label>
    <input type="date" name="date" id="" value="{{court.date}}">

    <label for="">Description</label>
    <textarea name="description" id="" cols="30" rows="10"> {{court.description}} </textarea>

    <button type="submit">Save changes</button>
  </div>
  </div>
{{/if}}

{{#if court.isOwner}}
         <form action="/courts/{{court._id}}/delete" method="POST">
            <button type="submit">Delete</button>
          </form>
{{/if}}

<main>

<div class="container">
  <div class="row">
    <div class="col" align="center">
      <img src="/images/{{court.sport}}Court.svg" width="400" height="150">
    </div>
    <div class="col">
      <label for="">Game Name</label>
        <h1>{{ court.name }}</h1>
        <p>This court is hosted by: <b> {{ court.owner.fullName }} </b></p>
    </div>
  </div>


<hr>
<p>Date: {{ court.date }}</p>
<p>Time: {{ court.time }}</p>
<p>Description: {{ court.description }}</p>
<p>Location: {{ court.location.coordinates }}</p>
<hr>



<hr>

{{#if court.player}}
  <h3>Player:</h3>
  {{#each court.player}}
    <p> Player1: <b>{{ this.fullName }} </b> </p>
    <p> Player1: <b>{{ this.email }} </b> </p>

      <form action="/player/{{this._id}}" method="POST">
        <button type="submit"> Delete </button>
      </form>
  {{/each}}
{{/if}}  


<h2>Join the game</h2>
<form action="/courts/{{court._id}}/add-player" method="POST">
<button type="submit">Join</button>
</form>

<hr>


<hr>

{{#if court.comments}}
  <h3>comments:</h3>
  {{#each court.comments}}
    <p> <b>{{ this.user.fullName }} said: </b> {{ this.comment }}  </p>
    {{#if this.canBeChanged}}
      <form action="/comments/{{this._id}}" method="POST">
        <button type="submit"> Delete </button>
      </form>
    {{/if}}
  {{/each}}
{{/if}}


  <h2>Add a comment:</h2>
  <form action="/courts/{{court._id}}/add-comment" method="POST">
    <textarea name="comment" id="" cols="10" rows="5"></textarea>
    <button type="submit">Add</button>
  </form>

</main>

