{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

{{#if currentUser}}
  Welcome, {{ currentUser.fullName }}!
{{/if}} --}}
<main>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Type</th>
      <th scope="col">Column heading</th>
      <th scope="col">Column heading</th>
      <th scope="col">Column heading</th>
    </tr>
  </thead>
  <tbody>
    {{#each courtsFromDB}}
    <tr>
      <th scope="row"><img src="/images/{{sport}}Court.svg" width="80" height="40"></th>
      <th scope="row"><a href="/courts/{{this._id}}"> {{ this.name }} </a></th>
      <td>{{ this.sport}}</td>
      <td>{{ this.date}}</td>
      <td>{{ this.owner.fullName }}</td>
    </tr>
    {{/each}}
  </tbody>
</table>

</main>
