{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

{{#if currentUser}}
  Welcome, {{ currentUser.fullName }}!
{{/if}} --}}
<main>
<div class="container-fluid"></div>
<table class="table table-hover">
  <tbody>
    {{#each courtsFromDB}}
    <tr onclick="window.location='/courts/{{this._id}}';">
      <th scope="row"><img src="/images/{{sport}}Court.svg" width="80" height="40"></th>
      <td scope="row"> {{ this.name }}</td>
      <td>{{ this.sport}}</td>
      <td>{{ this.date}}</td>
      <td>{{ this.owner.fullName }}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>
</main>
